*{
    font-family: 'Noto Sans KR', sans-serif;
    font-family: 'Roboto', sans-serif;
    list-style:none;
    text-decoration: none;
    border-collapse: collapse;
    margin: 0px;
    padding: 0px;
    background-color: none;
    color: #2B2B2B;
    border-width: 0.2px;
    border-color: #2B2B2B;
}

body{
    background-color: #F4F4F4;
}

.contents {
    width: 1080px;
    height: 6000px;
    /* background-color: azure; */
    margin: auto;
    display: flex;
    flex-direction: column;
}

.navbar {
    background-color: #2B2B2B;
    width: 1080px;
    height: 45px;
    margin-top: 50px;
    border-style: solid;
}

.article_box1 {
    width: 1080px;
    height: 872px;
    margin-top: 20px;
    border-style: solid;
    display: grid;
    grid-template-columns: 250px 550px 280px;
    grid-template-rows: 319px 147px 234px 172px
}

.item {

    //전체적용박스

}

.item1 {
    /* background-color: aqua; */
    grid-row: 1/4;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: #2B2B2B solid 0.2px;
}

.text_1 {
    /* background-color: #F4F4F4; */
    font-size: 50px;
    margin-bottom: 240px;
}

.item2 {
    /* background-color: blue; */
    grid-row: 1/2;
    border-bottom: #2B2B2B solid 0.2px;
}

.img_2{
    background-color: aqua;
    width: 476px;
    height: 318px;
}

.item3 {
    /* background-color: rgb(92, 92, 153); */
    grid-row: 1/3;
    border-left: #2B2B2B solid 0.2px;
    border-bottom: #2B2B2B solid 0.2px;
}
.item4 {
    /* background-color: rgba(202, 66, 188, 0.826); */
    grid-row: 2/3;
    display: flex;
    align-items: flex-end;
    font-size: 27px;
}

.text_4 {
    line-height: 30px;
    /* background-color: #F4F4F4;] */
    /* margin-left: 5px; */
}

.text_4>ol>li:first-child {
    border-bottom: #2B2B2B solid 0.2px;
    /* background-color: #F4F4F4; */
}

.text_4>ol>li:nth-child(2) {
    /* background-color: #F4F4F4; */
    border-bottom: #2B2B2B solid 0.2px;
}


.item5 {
    /* background-color: rgba(16, 166, 51, 0.612); */
    grid-row: 3/4; 
    display: flex;
    border-top: #2B2B2B solid 0.2px;

}

.itembox_5_1 {
    width: 275px;
    height: 234px;
    /* background-color: #F4F4F4; */
    display: flex;
}

.itembox_5_2 {
    width: 275px;
    height: 234px;
    /* background-color: aliceblue; */
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-end;
    font-size: 27px;
    line-height: 60px;
}

.text5_2>sup {
    font-size: 13px;
}

.text5_2 {
    margin-right: 25px;
}

.text5_4 {
    font-size: 15px;
    margin-right: 40px;
}

.itembox_5_1 {
    width: 275px;
    height: 234px;
    /* background-color: aliceblue; */
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-end;
    font-size: 27px;
    line-height: 39px;
}

.text5_1 {
    margin-right: 40px;
}

.text5_3 {
    font-size: 15px;
    text-align: right;
    margin-right: 40px;
}

.text5_3>ol>li:first-child {
    font-weight: 700;
}

.text5_1>sup {
    font-size: 13px;
}



.item6 {
    /* background-color: rgb(106, 134, 45); */
    grid-row: 3/5;
    border-left: #2B2B2B 0.2px solid;
    
}

.img6{
    background-color: aqua;
    width: 270px;
    height: 406px;
}


.item7 {
    /* background-color: rgb(255, 0, 17); */
    grid-column: 1/3;
    border-top: #2B2B2B solid 0.2px;
}












.article_box2 {
    width: 1080px;
    height: 1169px;
    margin-top: 170px;
    border-style: solid;
}

.article_box3 {
    width: 1080px;
    height: 1095px;
    margin-top: 170px;
    border-style: solid;

}

.article_box4 {
    width: 1080px;
    height: 1157px;
    margin-top: 170px;
    border-style: solid;

}